<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: rgb(58, 53, 53);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1 {
            color: rgba(30, 117, 218, 0.705);
            font-family: fantasy;
        }
        a {
            color: rgb(11, 139, 64);
            font-family:  fantasy;
        }
    </style>
    <title>
        Home page
    </title>
</head>
<body>
    <h1>Выберите рецепт</h1>
    {% for title, url in pages.items %}
        <a href="{{ url }}"> {{ title }}</a>
        <br>
    {% endfor %} 
</body>
</html>